<!DOCTYPE html>
<html lang="en">

<!--xmlns:th="https://www.thymeleaf.org/"-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Hi</h1>

  <head>
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
      </ul>
    </nav>
  </head>
  <section>

    <div class="clubs-container">
      <div th:each="club : ${clubs}" class="club-card">
        <img th:src="${club.photoUrl}" alt="" class="Club">
        <a th:text="${club.title}" href=""></a>
      </div>
    </div>

  </section>

</body>

</html>