<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing-Club</title>
</head>

<body>

  <section layout:fragment="body">

    <div class="container">

      <form role="form" method="post" th:action="@{/clubs/{clubId}/edit(clubId=${club.id})}" th:object="${club}">
        <input type="hidden" th:field="*{id}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" th:field="*{title}" id="title" placeholder="Title">
          </div>

          <div class="form-group col-md-6">
            <label for="photoUrl">PhotoUrl</label>
            <input type="text" class="form-control" name="photoUrl" th:field="*{photoUrl}" id="photoUrl"
              placeholder="Photo Url">
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <input type="text" class="form-control" name="content" th:field="*{content}" id="content"
            placeholder="Content">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>

  </section>

</body>

</html>